default: &default
  secret: 1234
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    password:
  elasticsearch:
    host: 127.0.0.1
    port: 9200
    protocol: http
  fog:
    provider: 'Local'
    local_root: 'tmp/fog'
    # provider: 'AWS'
    # aws_access_key_id: '32 bit key'
    # aws_secret_access_key: '32 bit key'
  admin:
    username: admin
    password: password
    docs: https://github.com/bastosmichael/skynet
    api_containers:
      -
    api_keys:
      'sample-key':
        customer: name
        permissions:
          - record_show
          - search_index
          - match_index
          - trends_index
          - batch_index
          - status_index
        limit: 20
    append: {}
    insert: {}
    tracker: {}
  app:
    name: crawler

development:
  <<: *default

production:
  <<: *default

test:
  <<: *default
