# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2be1e0b5ab9e3917ae9dd7511f040b9fcbaa9ddf145ecae46500065762c4f940ade359f8530dc49ec9c434ebe8fa9375f8beda49880c0202eb94de563d0ede19

test:
  secret_key_base: d8e74cc35877031cfb84919c62d2cb486de7f77b70daa7d8e1ac8e7ed186a19d7b7ea0593cb1166ff0ed4f31fe272e73c7a682ce442a51423d4900e6afb0daa2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
