---
:concurrency: 50
:pidfile: tmp/pids/sidekiq.pid
:queues:
  - default
  #- screener
  - mapper
  - recorder
  - slider
  - socializer
  - sampler_one
  - sampler_two
  - sampler_three
  - sampler_four
  - sampler_five
  - sampler
  - spider_one
  - spider_two
  - spider_three
  - spider_four
  - spider_five
  - spider
  - scrimper_one
  - scrimper_two
  - scrimper_three
  - scrimper_four
  - scrimper_five
  - scrimper
  - sitemapper_one
  - sitemapper_two
  - sitemapper_three
  - sitemapper_four
  - sitemapper_five
  - sitemapper
:blocking:
  - scrimper
:process_limits:
  scrimper: 1
  # scrimper_one: 1
  # scrimper_two: 1
  # scrimper_three: 1
  # scrimper_four: 1
  # scrimper_five: 1
  sampler: 1
  sampler_one: 1
  sampler_two: 1
  sampler_three: 1
  sampler_four: 1
  sampler_five: 1
  spider: 1
  spider_one: 1
  spider_two: 1
  spider_three: 1
  spider_four: 1
  spider_five: 1
  sitemapper: 1
  sitemapper_one: 1
  sitemapper_two: 1
  sitemapper_three: 1
  sitemapper_four: 1
  sitemapper_five: 1
