---
:concurrency: 2
:pidfile: tmp/pids/sidekiq.pid
:queues:
  #- [screener, 8192]
  - [mapper, 4096]
  - [recorder, 2048]
  - [slider, 1024]
  - [socializer, 512]
  - [scrimper, 256]
  - [scrimper_one, 128]
  - [scrimper_two, 128]
  - [scrimper_three, 128]
  - [scrimper_four, 128]
  - [scrimper_five, 128]
  - [sampler, 64]
  - [sampler_one, 32]
  - [sampler_two, 32]
  - [sampler_three, 32]
  - [sampler_four, 32]
  - [sampler_five, 32]
  - [spider, 16]
  - [spider_one, 8]
  - [spider_two, 8]
  - [spider_three, 8]
  - [spider_four, 8]
  - [spider_five, 8]
  - [syncer, 4]
  - [sitemapper, 2]
  - [sitemapper_one, 1]
  - [sitemapper_two, 1]
  - [sitemapper_three, 1]
  - [sitemapper_four, 1]
  - [sitemapper_five, 1]
  - default
:process_limits:
  sampler: 1
  sampler_one: 1
  sampler_two: 1
  sampler_three: 1
  sampler_four: 1
  sampler_five: 1
  sitemapper: 1
  sitemapper_one: 1
  sitemapper_two: 1
  sitemapper_three: 1
  sitemapper_four: 1
  sitemapper_five: 1
:limits:
  mapper: 100
  recorder: 100
