---
:concurrency: 1
:pidfile: tmp/pids/sidekiq.pid
:queues:
  - [mapper, 1500000]
  - [slider, 1400000]
  - [socializer, 1300000]
  - [recorder, 1200000]
  - [syncer, 110000]
  - [default, 100000]
  - [sitemapper_one, 3]
  - [sitemapper_two, 3]
  - [sitemapper_three, 3]
  - [sitemapper_four, 3]
  - [sitemapper_five, 3]
  - [sitemapper_six, 3]
  - [sitemapper_seven, 3]
  - [sitemapper_eight, 3]
  - [sitemapper_nine, 3]
  - [sitemapper_ten, 3]
  - [sitemapper, 2]
  - [stretcher, 1]
:limits:
  stretcher: 1
