---
:concurrency: 1
:pidfile: tmp/pids/sidekiq.pid
:queues:
  - [mapper, 1500000]
  - [slider, 1400000]
  - [socializer, 1300000]
  - [recorder, 1200000]
  - [syncer, 110000]
  - [default, 100000]
  - [scrimper_one, 90000]
  - [scrimper_two, 90000]
  - [scrimper_three, 90000]
  - [scrimper_four, 90000]
  - [scrimper_five, 90000]
  - [scrimper_six, 90000]
  - [scrimper_seven, 90000]
  - [scrimper_eight, 90000]
  - [scrimper_nine, 90000]
  - [scrimper_ten, 90000]
  - [scrimper, 80000]
  - [spider_one, 70000]
  - [spider_two, 70000]
  - [spider_three, 70000]
  - [spider_four, 70000]
  - [spider_five, 70000]
  - [spider, 60000]
  - [scraper_one, 50000]
  - [scraper_two, 50000]
  - [scraper_three, 50000]
  - [scraper_four, 50000]
  - [scraper_five, 50000]
  - [scraper_six, 50000]
  - [scraper_seven, 50000]
  - [scraper_eight, 50000]
  - [scraper_nine, 50000]
  - [scraper_ten, 50000]
  - [scraper, 40000]
  - [sitemapper_one, 3]
  - [sitemapper_two, 3]
  - [sitemapper_three, 3]
  - [sitemapper_four, 3]
  - [sitemapper_five, 3]
  - [sitemapper_six, 3]
  - [sitemapper_seven, 3]
  - [sitemapper_eight, 3]
  - [sitemapper_nine, 3]
  - [sitemapper_ten, 3]
  - [sitemapper, 2]
  - [stretcher, 1]
:limits:
  stretcher: 1
