---
:concurrency: 1
:pidfile: tmp/pids/sidekiq.pid
:queues:
  - [mapper, 4_000_000]
  - [recorder, 300_000]
  - [default, 20]
  - [sitemapper_one, 1]
  - [sitemapper_two, 1]
  - [sitemapper_three, 1]
  - [sitemapper_four, 1]
  - [sitemapper_five, 1]
  - [sitemapper_six, 1]
  - [sitemapper_seven, 1]
  - [sitemapper_eight, 1]
  - [sitemapper_nine, 1]
  - [sitemapper_ten, 1]
  - [sitemapper, 1]
:limits:
  sitemapper_one: 1
  sitemapper_two: 1
  sitemapper_three: 1
  sitemapper_four: 1
  sitemapper_five: 1
  sitemapper_six: 1
  sitemapper_seven: 1
  sitemapper_eight: 1
  sitemapper_nine: 1
  sitemapper_ten: 1
  sitemapper: 1
  stretcher: 1
